<a href="https://colab.research.google.com/github/bhumi-1830/data_science_lab/blob/main/SimpleOperations2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Function to display the multiplication table
def display_multiplication_table(number):
    print(f"Multiplication Table for {number}:")
    for i in range(1, 11): # Generates table from 1 to 10
        print(f"{number} x {i} = {number * i}")

# Example usage:
num = 4 # You can change this number to any integer
display_multiplication_table(num)

Multiplication Table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40